@font-face {
    font-family: univers;
    src: url(font/UniversLTStd.otf);
}

@font-face {
    font-family: 'tof-reg';
    src: url(font/tof/The_Oblique_Function_Regular.otf);
}

@font-face {
    font-family: 'tof-dis';
    src: url(font/tof/The_Oblique_Function_Display.otf);
}

@font-face {
    font-family: 'MTsharp';
    src: url(font/MT/mt-sharp-text.otf);
}

@font-face {
    font-family: 'MTcongoth';
    src: url(font/MT/mt-condensed-gothic-sans.otf);
}

@font-face {
    font-family: 'MTnomoregrids';
    src: url(font/MT/MTnomoregrids-condensed.otf);
}

@font-face {
    font-family: 'MTconnomoregrids';
    src: url(font/MT/MTnomoregrids-condensed.otf);
}

@font-face {
    font-family: 'MTthreestripes';
    src: url(font/MT/MTThreeStripes-regular.otf);
}

html {
       overflow-y: scroll;
}

body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
    max-width: 2000px;
    margin: auto;
	font-family: univers, times, sans-serif;
	font-size: 12px;
}

body img {
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
	text-align: center;
    cursor: pointer;
}

a:visited {
	font-style: oblique;
}

a:hover{
	font-style: oblique;
}

a:active{
	font-style: oblique;
}

#header{
	float: none;
	position: absolute;
	width: 200px;
	height: 0px;
	margin-left: calc(50% - (200px / 2));
	background: url(images/6tag-060516-174733-1920x1080-52-1920x1080-78.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}

#nav {
	width:100%;
	position: absolute;
	top: 10px;
}

#nav1, #nav2, #nav3, #nav4, #nav5{
	width: calc((100% / 5) - 20px);
	float: left;
	padding: 10px;
	padding-top: 5px;
	text-align: center;
}


#container {
	width:100%;
    max-width: 2000px;
    margin: auto;
	position: absolute;
	height: 100%;
    overflow: hidden;
}

#columns {
	top: 35px;
	height: 100%;
	float: left;
	position: absolute;
	
}

/*#col-1{
	width: calc((100% / 5) - 20px);
	height: calc(100% - 20px);
	float: left;
	overflow: scroll;
	padding: 10px;
	padding-top: 0px;
}*/

#col-5{
	width: calc((100% / 5) - 20px);
	height: calc(100% - 20px);
	float: right;
	overflow: scroll;
	padding: 10px;
	padding-top: 0px;
}

#col-1, #col-2, #col-3, #col-4, #wineanddine{
	display: none;
	width: calc(((100% / 5) * 4) - 20px);
	height: calc(100% - 10px);
	float: left;
	overflow: hidden;
	padding: 10px;
}

#col-1{
    display: inline;
    overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
}


::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
#img1, #img2, #img3, #img4, #img5, #img6, #img7{
	height: auto;
	float: left;
	display: none;
	overflow: scroll;
	position: absolute;
	margin: auto;

}

*/

h1 {
	font-size: 12px;
	font-weight: normal;
	text-align: justify;
}

h1:after{
	content: "";
	width: 100%;
	display: inline-block;
}

h2{
	font-size: 12px;
	font-weight: normal;
	text-align: justify;
}

h2:after{
	content: "";
	width: 100%;
	display: inline-block;
}

.text{
    width: 550px;
}

.list {
	width: calc((100% / 3) - 20px);
	height: inherit;
	float: left;
	overflow: scroll;
	padding: 10px;
	padding-top: 0px;
}

.content {
	width: calc(((100% / 3) * 2) - 20px);
	height: inherit;
	float: right;
	overflow: scroll;
	padding: 10px;
	padding-top: 0px;
}

#graphiccontent1, #graphiccontent2, #graphiccontent3, #graphiccontent4, #graphiccontent5, #typecontent1, #typecontent2, #typecontent3, #othercontent1, #othercontent2, #othercontent3, #othercontent4, #othercontent5, #wineanddine {
	display: none;
}

#graphiccontent1, #typecontent1, #othercontent1 {
	display: inline;
}

@media only screen and (max-width: 950px) {
    /* For mobile phones: */
	
#header{
    position: absolute;
    top: 0;
    clear: both;
    top: 150px;
}
    
#nav {
    position: fixed;
    clear: both;
    background: white;
    width: 100%;
    top: 0px;
}
  
    
    
/*
    #img1, #img2, #img3, #img4, #img5, #img6, #img7 {
    position: fixed;
    top: 40px;
}
    */
  
   
#columns {
	bottom: 0;
	height: 75%;
	float: left;
	position: absolute;
	
}

#col-1 {
	width: 80%;
	margin-left: 7%;
	padding-top: 200px;
	height: intrinsic;
    font-size: 10p;
}

   
#col-2, #col-3, #col-4, #col-5, #wineanddine {
	width: 80%;
	height: 400px;
	margin-left: 7%;
	font-size: 10p;
}

#col-2, #col-3, #col-4{
	display: inline;
}


}


@media only screen and (max-width: 640px) {
    /* For mobile phones: */
	

  
   
#col-1 {
	width: 80%;
	margin-left: 7%;
	padding-top: 0px;
	height: intrinsic;
}
   
#col-2, #col-3, #col-4, #col-5 {
	width: 80%;
	margin-left: 7%;
	height: intrinsic;
    display: none;
}

/*#col-2, #col-3, #col-4{
	visibility: visible;
}*/

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
    position: fixed;
    top: 40px;
}
}
    
ul {
    list-style-type:circle;
    margin-left: -30px;
}

#tof-reg-editable1 {
    font-family: 'tof-reg', univers;
    font-size: 60pt;
    outline: 0px solid transparent;
}

#tof-reg-editable2 {
    font-family: 'tof-reg', univers;
    font-size: 13pt;
    outline: 0px solid transparent;
}

#tof-dis-editable {
    font-family: 'tof-dis', univers;
    font-size: 60pt;
    outline: 0px solid transparent;
}

#MTsharp-editable {
    font-family: 'MTsharp', univers;
    font-size: 100px;
    line-height: 75px;
    margin-top: 0px;
    outline: 0px solid transparent;
    
}

#MTconnomoregrids-editable {
    font-family: 'MTconnomoregrids', univers;
    font-size: 100px;
    line-height: 75px;
    margin-top: -20px;
    text-transform: lowercase;
    outline: 0px solid transparent;
}

#MTcongoth-editable {
    font-family: 'MTcongoth', univers;
    font-size: 100px;
    
    margin-top: 25px;
    outline: 0px solid transparent;
    
}

#MTthreestripes-editable {
    font-family: 'MTthreestripes', univers;
    font-size: 100px;
    
    margin-top: 0px;
    text-transform: lowercase;
    outline: 0px solid transparent;
}


/*landingpage*/

#MTsharp-editable-land {
    font-family: 'MTsharp', univers;
    font-size: 100px;
    line-height: 75px;
    margin-top: 0px;
    outline: 0px solid transparent;
    
}

#MTconnomoregrids-editable-land {
    font-family: 'MTconnomoregrids', univers;
    font-size: 100px;
    line-height: 30px;
    margin-top: -60px;
    text-transform: lowercase;
    outline: 0px solid transparent;
}

#MTcongoth-editable-land {
    font-family: 'MTcongoth', univers;
    font-size: 100px;
    
    margin-top: -15px;
    outline: 0px solid transparent;
    
}

#MTthreestripes-editable-land {
    font-family: 'MTthreestripes', univers;
    font-size: 100px;
    
    margin-top: -80px;
    text-transform: lowercase;
    outline: 0px solid transparent;
}